<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
        <tr>
            <td>ID</td>
            <td><a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a></td>
        </tr>

        <tr>
            <td>Name</td>
            <td th:text="${job.name}"></td>
        </tr>

        <tr>
            <td>Employer</td>
            <td> <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a></td>
        </tr>

        <tr>
            <td>Skills</td>
            <td>
                <ul th:each="skill : ${job.skills}">
                    <li>
                        <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    </th:block>
</div>

</body>
</html>